h1 {
  font-size: 40px;
  margin-top: 8px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 12px;
}

h4 {
  font-size: 20px;
}

div,
p {
  line-height: 1.5em;
  font-size: 1em;
}

.presentation {
  font-family: Montserrat;
  font-size: 17px;
  line-height: 1.7 em;
}

.wrapper,
.wrapper-grey,
.wrapper-darkgrey {
  padding-right: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.section-header {
  padding: 5px 7px 4px 7px;
  font-size: 22px;
}

.social-media-link-header {
  border: 2px solid white;
  height: 50px;
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0;
}

.about {
  margin-left: 0;
}

.about-me {
  margin-top: 38px;
}

.about-me-image {
  height: 160px;
  width: 160px;
  margin-top: 30px;
}

.page-navigation {
  display: none;
}

.decoration-wrapper {
  width: 45px;
  display: flex;
  align-items: center;
  margin-right: 8px;
  float: left;
  margin-top: 50px;
}

.line {
  width: 40px;
  height: 3px;
  background: darkslategray;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: darkslategray;
  margin-left: -1px;
}

.projects {
  background-color: whitesmoke;
}

.project {
  width: 100%;
}

.skill {
  width: 100%;
  margin-bottom: 12px;
}

.social-media-link {
  border: 2px solid darkslategray;
  height: 50px;
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.link-container p {
  font-size: 0.7em;
}

.icon {
  height: 20px;
  width: 20px;
  margin-top: 15px;
  align-self: center;
}

.thoughts {
  display: flex;
  flex-direction: column;
}

.thought {
  width: 100%;
}

.thought-image-container {
  display: none;
}