body {
  margin: 0px;
}

body,
section,
header,
h1,
h2,
h3,
p,
div {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: black;
}

div,
p {
  line-height: 1.5em;
  font-size: 1.05em;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  font-family: Montserrat;
  font-size: 66px;
  margin-top: 12px;
  margin-bottom: 10px;
  color: rgb(23, 108, 95);
  line-height: 1.1em;
}

h2 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(23, 108, 95);
  line-height: 1.1em;
}

h3 {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  line-height: 1.2em;
  color: black;
  letter-spacing: 0.5px;
}

.name {
  font-weight: 500;
}

h4 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 12px;
  color: darkslategray;
  text-align: center;
}

.wrapper,
.wrapper-grey,
.wrapper-head,
.wrapper-darkgrey {
  padding-right: 10%;
  padding-left: 10%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-grey {
  background-color: whitesmoke;
}

.wrapper-darkgrey {
  background-color: darkslategray;
}

.wrapper-head {
  background-image: url(assets/background3.jpg);
  height: 500px;
}

.top-link-container {
  display: flex;
}

.icon-header {
  height: 36px;
  width: 36px;
  margin-top: 22px;
  align-self: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding-top: 40px;
}

.social-media-link,
.social-media-link-header {
  height: 80px;
  width: 80px;
  border-radius: 80px;
  margin-right: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.social-media-link {
  border: 2px solid darkslategray;
}

.social-media-link-header {
  border: 2px solid white;
  margin-right: 0px;
  margin-left: 5px;
  height: 80px;
  width: 80px;
}

.social-media-link:hover {
  cursor: pointer;
}

.social-media-link-header:hover {
  cursor: pointer;
}

.about-me {
  align-self: flex-start;
}

.about-me-image {
  height: 300px;
  width: 300px;
  border-radius: 300px;
  border: 3px solid white;
  overflow: hidden;
  background-image: url(assets/J3rekt.jpg);
  background-position: 0px -25px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -182px;
}

.section-header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.section-header {
  /*  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(109, 164, 164), rgba(255, 0, 0, 0));*/
  /*background-color: rgb(109, 164, 164);*/
  padding: 12px 14px 10px 14px;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 34px;
  background-color: rgb(23, 108, 95);
  margin-top: 1.5em;
  margin-bottom: 1.2em;
  ;
}

section,
header {
  padding-left: 50px 10%;
  padding-right: 50px 10%;
  max-width: 1100px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.summary {
  flex-direction: row;
  color: darkslategrey;
  justify-content: space-between;
}

/* decoration items for beginning paragraphs */
.decoration-wrapper {
  width: 60px;
  display: flex;
  align-items: center;
  margin-right: 12px;
  float: left;
  margin-top: 62px;
}

.line {
  width: 56px;
  height: 4px;
  background: darkslategray;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: darkslategray;
  margin-left: -3px;
}

.presentation {
  font-family: Montserrat;
  font-size: 21px;
  line-height: 1.7em;
  margin-top: 2.4em;
}

.tech-presentation {
  font-family: Montserrat;
  font-size: 21px;
  line-height: 1.7em;
  margin-top: -1.2em;
  margin-bottom: 1em;
}

.tech {
  display: inline-block;
  text-align: center;
}

.projects {
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.project {
  width: 48%;
  margin-bottom: 20px;
}

.project:hover {
  cursor: pointer;
}

.project-image-container {
  background-color: darkslategrey;
  margin-bottom: 10px;
}

.project-image {
  width: 100%;
  opacity: 0.8;
  margin-bottom: -8px;
}

.project-image:hover {
  opacity: 1.0;
  cursor: pointer;
}

.project-description {
  margin-bottom: 8px;
  margin-top: 18px;
}

.project-description .bold {
  color: rgb(72, 152, 152);
  font-weight: 700;
}

.project-link {
  color: rgb(72, 152, 152);
  font-weight: 900;
}

.tech-label {
  background-color: rgba(210, 203, 196, 0.687);
  font-size: 0.7em;
  padding: 2px 6px;
  margin: 1px;
  color: black;
}

.projects-other {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.project-other {
  margin-bottom: 30px;
}

.thoughts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.thought {
  width: 48%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.thought .thin {
  color: rgb(72, 152, 152);
  font-weight: 300;
  margin-bottom: 4px;
  margin-top: 4px;
}

.thought .bold {
  color: darkslategray;
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: -11px;
}

.thought-image-container {
  margin-right: 20px;
}

.thought-image {
  width: 100%;
}

.thought-image:hover {
  cursor: pointer;
}

.skills {
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.skill {
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
  ;
}

.skill h5 {
  font-size: 1.1em;
  margin-bottom: 0;
  margin-top: 0;
  color: darkslategray;
}

.skill p {
  margin-bottom: 0;
  margin-top: 2px;
  line-height: 1.5em;
}

.social-media {
  display: block;
  margin-bottom: 20px;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link-container p {
  text-align: center;
  margin-top: 1px;
  font-size: 0.8em;
}

.icon {
  height: 36px;
  width: 36px;
  margin-top: 22px;
  align-self: center;
}

.medialinks {
  font-weight: 700;
  color: darkslategrey;
  font-size: 7px;
}

.footer {
  display: block;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.footer p {
  color: white;
  line-height: 1em;
}

.footer h4 {
  font-size: 1.2em;
  color: white;
}