body {
  margin: 0px;
}

body,
section,
header,
h1,
h2,
h3,
p,
div {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: darkslategray;
}

p {
  line-height: 1.7em;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  font-family: Montserrat;
  font-size: 64px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

h3 {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 300;
  margin: 0;
  color: white;
}

h4 {
  font-family: Montserrat;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 12px;
  color: darkslategray;
  text-align: center;
}

span.bold {
  font-weight: bold;
}

section {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.section-header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.section-header {
  /*  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(109, 164, 164), rgba(255, 0, 0, 0));*/
  background-color: rgb(109, 164, 164);
  padding-left: 20px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  width: 150px;
}

header {
  margin-top: 0;
  display: flex;
  flex-direction: row;
}

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(97, 222, 222);
  background-image: url(assets/Turkos2.jpg);
  background-size: cover;
}

.about-me-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-me {
  width: 60%;
}

.about-me-image {
  height: 180px;
  width: 180px;
  border-radius: 200px;
  border: 3px solid white;
  overflow: hidden;
  background-image: url(assets/J2rekt.jpg);
  background-position: 0px -15px;
  background-size: cover;
  background-repeat: no-repeat;
  justify-self: end;
}

.summary {
  background-color: whitesmoke;
  flex-direction: row;
  color: darkslategrey;
  justify-content: space-between;
}

.tech {
  display: inline-block;
  text-align: center;
}

.projects {
  background-color: whitesmoke;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.project {
  width: 48%;
  margin-bottom: 20px;
}

.project-image-container {
  background-color: darkslategray;
  margin-bottom: 10px;
}

.project-image {
  width: 100%;
  opacity: 0.3;
}

.project-image:hover {
  opacity: 1.0;
}

.project-description {
  margin-bottom: 8px;
}

.project-description .bold {
  color: rgb(109, 164, 164);
}

.project-link {
  color: red;
  font-weight: 900;
}


.tech-label {
  background-color: rgb(252, 197, 193);
  font-size: 0.7em;
  padding: 3px 10px;
  margin: 2px;
  color: black;
}

.projects-other {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.project-other {
  margin-bottom: 30px;
}

.thoughts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.thought {
  width: 48%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.thought .thin {
  color: rgb(109, 164, 164);
  font-weight: 300;
  margin-bottom: 5px;
}

.thought .bold {
  color: darkslategray;
  font-size: 1.1em;
  font-weight: 700;
}

.thought-image-container {
  margin-right: 20px;
}

.thought-image {
  width: 100%;
}

.thought-description {
  margin-top: 5px;
}

.skills {
  background-color: whitesmoke;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.skill {
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
}

.skill h5 {
  font-size: 1.1em;
  margin-bottom: 0;
  margin-top: 0;
  color: darkslategray;
}

.skill p {
  margin-bottom: 0;
  margin-top: 2px;
}


.social-media {
  display: block;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link-container p {
  text-align: center;
  margin-top: 1px;
  font-size: 0.8em;
}

.social-media-link {
  height: 80px;
  width: 80px;
  border-radius: 80px;
  border: 2px solid darkslategray;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.icon {
  height: 40px;
  width: 40px;
  margin-top: 20px;
  align-self: center;
}

.footer {
  display: block;
  background-color: darkslategray;
  text-align: center;
  color: white;
}

.footer p {
  color: white;
  line-height: 1em;
}

.footer h4 {
  font-size: 1.2em;
  margin-bottom: 0;
  color: white;
}